.card-wrapper{
margin:0% 15%;
}

.optionColor {
    background-color:#9b59b6;
    color: white;
    border-radius: 15px;
}

.example-card{
    background-color:#f3f5fa;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border: 3px solid #9b59b6;
    box-shadow: none;
}

#firstOption{
    margin:0 8px;
}

#lastOption{
    margin-bottom: 20px;
}

.mat-raised-button {
    white-space: normal;
    min-height: 70px;
}

img {
    margin: 8px auto 16px auto;
    border: 1px solid #9b59b6;
    border-radius: 25px;
}